body{
    width: 1800px;
    height: 2000px;
    background-color: darkred;
}

.day1pic{
    width: 1200px;
    height: 200px;
}

.day2pic{
    width: 1200px;
    height: 400px;
}

.day3pic{
     border: solid black 10px;
     border-radius: 100px;
}

.day3pic:hover{
    
}